<html>
<head>
	<meta charset="UTF-8">
	<title>Cakes</title>
</head>
<body>




 

    <div class="container">

      <h2> Reach Out</h2>

      <div class="row">

      
      <div class="col s6">  


         <form action="/flyer" method="POST">

              First Name: <input type="text" name="first_name">

              <br>
              Last Name: <input type="text" name="last_name">

              <br>

              E-mail: <input type="text" name="e_mail">
              
              <br>

              <input type="submit" value="Gimmie Mail">

        </form>
        
      </div>



      <div class=" contact_image col s6">

      
      </div>
    </div>

  	
     </div>
	
</body>
</html>