<html>
<head>
	<meta charset="UTF-8">
	<title> Bake Shop Index </title>
	<link rel="stylesheet" href="/hero.css">
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"> -->
	<link href="https://fonts.googleapis.com/css?family=Modak|PT+Serif|Spicy+Rice" rel="stylesheet">
</head>
<body>

<div class="overlay">
<h1> The Sweet Spot </h1>
<ul>
	<li><a href="/muffins"> <img src="images/muff1.png" alt="muffin"> Muffins </a></li>
    <li><a href="/cookies"><img src="images/cookie1.png" alt="cookie"> Cookies</a></li>
    <li><a href="/cakes"> <img src="images/cake2.png" alt="cake"> Cakes </a></li>
</ul>
  
</div>
              
                
              
<video poster="/images/splash1.jpg" preload="none" width='512' height='288' id="splashvid" autoplay loop muted>
 <source src="video/Chocolate.mp4" type="video/mp4">
 
</video>
	  
	<script type="text/javascript" src="/main.js"> </script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>
</html>