<html>
<head>
	<meta charset="UTF-8">
	<title> Bake Shop</title>
	<link rel="stylesheet" href="/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link rel="shortcut icon" href="images/muff.ico">
	<link href="https://fonts.googleapis.com/css?family=Modak|Muli|Spicy+Rice" rel="stylesheet">
</head>
<body>


  


 <div class="container">
    <div class="billboard">
        <h2> <%=@billboard_title  %></h2>  
    </div>
 </div>




 <nav class="big_nav">
    <div class="nav-wrapper #00acc1 cyan darken-1">
      <div class="go_logo">
        <a href="/" >The Sweet Spot</a>
      </div>
      <ul  class="hot_wire">
        <li><a href="/muffins"> <img class="icons" src="images/muff1.png" alt="muffin"> Muffins </a></li>
        <li><a href="/cookies"><img class="icons" src="images/cookie1.png" alt="cookie"> Cookies</a></li>
        <li><a href="/cakes"> <img  class="icons" src="images/cake2.png" alt="cake"> Cakes </a></li>
        <li><a href="/contact"> <img class="icons" src="images/b_heart.png" alt=""> Contact </a></li>
      </ul>
    </div>
  </nav>


   <nav class="lil_navs">
    <div class="nav-wrapper #00acc1 cyan darken-1">
      <div class="go_logo">
        <a href="/" >The Sweet Spot</a>
      </div>
      <ul  class="hot_wire">
        <li><a href="/contact"> <img class="icons" src="images/b_heart.png" alt=""> Contact </a></li>
      </ul>
    </div>
     <div class="nav-wrapper #00acc1 cyan darken-1">
      <ul  class="hot_wire">
        <li><a href="/muffins"> <img class="icons" src="images/muff1.png" alt="muffin"> Muffins </a></li>
        <li><a href="/cookies"><img class="icons" src="images/cookie1.png" alt="cookie"> Cookies</a></li>
        <li><a href="/cakes"> <img  class="icons" src="images/cake2.png" alt="cake"> Cakes </a></li>

      </ul>
    </div>
  </nav>
        




   
    <%= yield %>

      <footer class="page-footer  #5d4037 brown darken-2">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text"> The Sweet Spot </h5>
                
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text"> On The Menu </h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/cakes">Cakes</a></li>
                  <li><a class="grey-text text-lighten-3" href="/muffins">Muffins</a></li>
                  <li><a class="grey-text text-lighten-3" href="/cookies">Cookies</a></li>
                 
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 alfonso arriola
            <a class="grey-text text-lighten-4 right" href="https://github.com/AlfonsoArriola">Code is Life.</a>
            </div>
          </div>
        </footer>
        
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>
</html>