<html>
<head>
	<meta charset="UTF-8">
	<title> Bake Shop</title>
	<!-- <link rel="stylesheet" href="/style.css"> -->
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"> -->
</head>
<body>


    <%= @peanut_butter_cookie %>
    <%= yield %>

<!-- 	<script type="text/javascript" src="/main.js"> </script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script> -->
</body>
</html>