<html>
<head>
	<meta charset="UTF-8">
	<title>Cakes</title>
</head>
<body>




 

    <div class="container">
      <h2>  Thank you !</h2>
      <h3>   Your menu is on the way.</h3>
        

  	
     </div>
	
</body>
</html>