<html>
<head>
	<meta charset="UTF-8">
	<title>Cakes</title>
</head>
<body>




 

    <div class="container">
      <h2>  Thank you for signing up!</h2>

  

      <iframe  scrolling="no" src="https://i.gifer.com/Xf4a.gif"></iframe>


<!-- 
<blockquote class="imgur-embed-pub" lang="en" data-id="lYNG9eL"><a href="//imgur.com/lYNG9eL">Terry Crews does a mean Robot</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script> -->




      <h2>  Your menu is on the way via e-mail. </h2>



        

  	
     </div>
	
</body>
</html>