body{
	background-color: lightblue;
    margin: 0 auto;
}

video {
    width: 100vw    !important;
    height: auto   !important;
    z-index: 0;
}


.overlay {
    position: absolute !important;
    top:50px;
    left: 30px;
    font-family:
    z-index: 1;
    font-size: 2.2em;
    padding-left: 3rem;
   }


.overlay h1{
    font-size: 2.5em;
    font-family: 'Modak', cursive;
    color: brown;
    text-shadow: 2px 2px white;
}

/*.hero_menu {
    float: right;
    height: 5rem;
    width: 8rem;
    border-radius: 10px;
    border: 1px solid red;
    background: blue;
    font-size: .5em;
    margin-bottom: 2rem;
}*/

/*.hero_menu2 {
   color: black;
}
*/
ul {
  list-style-type: none;
 
}

}
li{
  margin: 1rem;
  color: black;
 }


a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: brown;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

@media only screen and (max-width: 966px) {
   
}





@media only screen and (max-width: 966px) {
   

    video{
        display: none;
    }
}

@media only screen and (max-width: 450px) {
   .overlay h1{
    font-size: 2em;
    font-family: 'Modak', cursive;
    color: brown;
    text-shadow: 2px 2px white;
}
}





