body{
	background: grey;
}

video {
    width: 100%    !important;
    height: auto   !important;
    z-index: 0;
}


.overlay {
    position: absolute !important;
    top:50px;
    left: 30px;
    font-family: 'PT+Serif', cursive;
    z-index: 1;
    color: black;
    text-shadow: 2px 2px white;
    font-size: 2.2em;
    padding-left: 3rem;
   }


.overlay h1{
	font-size: 3em;
	font-family: 'Modak', cursive;
}

ul {
  list-style-type: none;
}